body {
    background-image: url(image.jpg);
    padding: 20px;
}


#title
{
    background-color: gray;
    border: 3px dotted green;
}


#title h3 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: yellow;
    text-align: center;
    margin-bottom: 20px;
}



.next-page
{
    background-color: hsl(240%, 70%, 40%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:chartreuse;
    text-decoration: none;
    margin: 30px;
    padding: 30px;
}


.next-page:hover
{
    color: green;
}

.next-page:focus
{
    color:red;
}



/*
Nội dung chính của trang 1
*/

.whole-grid {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 2 cột, mỗi cột chiếm 1 phần không gian */
    gap: 10px; /* Khoảng cách giữa các phần tử */
    width: 100%; /* Đảm bảo phần tử cha có kích thước */
    border: 3px solid greenyellow;
    box-shadow: inset;
}



.whole-grid .first-index-1
{
    background-color: chocolate;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    box-shadow: 10px 0 0 0 black;
}


.whole-grid .first-index-2
{
    background-color: chocolate;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


.whole-grid .first-col {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    border: 1px solid darkblue;
    font-size: 25px;
    box-shadow: 10px 0 0 0 black;
}



.whole-grid .second-col
{
    background-color:wheat;
    text-align: left;
    padding: 20px 5px 5px;
    font-size: 15px;
    border: 0.5px solid black;
}


.whole-grid .first-col:hover,
.whole-grid .second-col:hover
{
    background-color: lightgreen;
    cursor: pointer;
}